@charset "utf-8";

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(./Nanum_Gothic/NanumGothic.woff);
	src: local('NanumGothic Regular'),url(./Nanum_Gothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),url(./Nanum_Gothic/NanumGothic.woff) format('woff');
}

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(./Nanum_Gothic/NanumGothicBold.woff);
	src: local('NanumGothic Bold'),url(./Nanum_Gothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),url(./Nanum_Gothic/NanumGothicBold.woff) format('woff');
}

