@charset "UTF-8";
* {margin: 0;padding: 0;box-sizing: border-box;outline: none;letter-spacing: -.05em; } 

html {width: 100%;height: 100%; } 

body {position: relative; font-family: "Nanum Gothic",'Noto Sans KR', sans-serif;;font-weight: normal;font-size: 15px;color: #222;letter-spacing: 0px;line-height: 1;height: 100%;-webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-ms-text-size-adjust: 100%;line-height: 1; } 

body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td {margin: 0;padding: 0}

ul,ol,li {list-style: none}

img,fieldset {border: none;vertical-align: top}

legend,caption {position: absolute;top: -9999px;left: -9999px;z-index: -1}

textarea,
button {vertical-align: middle}

input,
select {vertical-align: middle;background: #fff;border: 1px solid #ccc;font-family: 'Noto Sans KR', sans-serif;color: #222;letter-spacing: 0px;border-radius: 0;font-size: 14px}

input {padding: 3px 10px;height: 32px}

option {padding: 3px 10px; } 

input[type="radio"],
input[type="checkbox"] {border: 0;padding: 0;height: auto;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none; } 

input[type="password"] {height: 40px;border: 1px solid #ccc;color: #222;background: #fff;-webkit-appearance: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none; } 

input[type="text"] {background: #fff;-webkit-appearance: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none; } 

select {background: #fff;padding-left: 12px;background: url(/image/common/select_arrow.png) no-repeat 95% 50%;/* 화살표 모양의 이미지 */
-webkit-appearance: none;/* 네이티브 외형 감추기 */
-moz-appearance: none;appearance: none; } 

select::-ms-expand {display: none}

textarea {padding: 10px;vertical-align: middle;background: #fff;border: 1px solid #ccc;font-family: 'Noto Sans KR', sans-serif;color: #222;font-size: 15px;letter-spacing: 0px;-webkit-appearance: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border-radius: 0}

a {text-decoration: none;color: #222; } 

a:hover,
a:focus,
a:active {text-decoration: none; } 

table {border-collapse: collapse;width: 100%; } 

button {background: none;border: none;padding: 0;margin: 0;cursor: pointer;overflow: visible;white-space: nowrap;font-size: 15px;font-family: 'Noto Sans KR', sans-serif; } 

button:active {outline: none; } 

button::-moz-focus-inner {padding: 0;border: 0; } 

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {display: block; } 

body {overflow-x: hidden; } 

img {display: block;}
.pr-page .ci__banner > img {width: 100%;height: 100%;}
.blind { position: absolute; left: -9999px; display: inline-block; width: 0; height: 0; overflow: hidden; text-indent: -9999px; opacity: 0; } 