@charset "UTF-8";

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  /* opacity: 0; */
  left: 0;
  width: 100%;
  min-width: 1200px;
  z-index: 1000;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.header .header__inner {
  max-width: 1760px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header__logo {
  width: 200px;
  height: 36px;
  background-image: url(/image/common/logo.png);
  background-repeat: no-repeat;
  background-size:contain;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  position: relative;
  z-index: 9;
}

.header .header__nav {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.header .header__nav>a {
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  width: 155px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.header .header__nav>a::before {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #000;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  opacity: 0;
}

.header .header__nav>a.active::before {
  opacity: 1;
}

.header .header__link {
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.header .header__link>a {
  color: #fff;
  font-size: 16px;
  width: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}


/* .header .header__link>a.active {
  color: #222;
} */

.header .header__gsnb {
  border-top: 1px solid #eee;
  padding-top: 35px;
  padding-bottom: 35px;
  display: none;
}

.header .header__gsnb .gsnb_nav {
  text-align: center;
}

.header .header__gsnb .gsnb_nav>li {
  width: 155px;
  displaY: inline-block;
  vertical-align: Top;
}

.header .header__gsnb .gsnb_nav>li>a {
  display: block;
  text-align: center;
  font-size: 17px;
  color: #919191;
  line-height: 1em;
  margin-bottom: 24px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.header .header__gsnb .gsnb_nav>li>a:last-child {
  margin-bottom: 0;
}

.header .header__gsnb .gsnb_nav>li>a:hover {
  color: #0e1c37;
}

.header.active {
  background-color: #fff;
}

.header.active .header__logo {
  background-image: url(/image/common/logo_active.png);
}

.header.active .header__nav>a {
  color: #000;
}

.header.active .header__link>a {
  color: #000;
}

.header.active .header_btn span {
  background: #222;
}


.header.open {
  background-color: #fff;
}

.header.open .header__logo {
  background-image: url(/image/common/logo_active.png);
}

.header.open .header__nav>a {
  color: #000;
}

.header.open .header__link>a {
  color: #000;
}

.header.open .header_btn span {
  background: #222;
}

.header.sub.active {
  border-bottom: 1px solid #eee;
}


.header.no-sv {
  background-color: #fff !important;
  border-bottom: 1px solid #eee !important;
}

.header.no-sv .header__logo {
  background-image: url(/image/common/logo_active.png) !important;
}

.header.no-sv .header__nav>a {
  color: #000 !important;
}

.header.no-sv .header__link>p {
  color: #000 !important;
}

.header.no-sv .header_btn span {
  background: #222 !important;
}

.header_dim {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, );
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  opacity: 0;
}

.footer {
  padding: 45px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.footer>.inner {
  max-width: 1680px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .footer__info .info__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__info .info__nav>a {
  padding-right: 12px;
  margin-right: 11px;
  position: relative;
  font-size: 15px;
}

.footer .footer__info .info__nav>a::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 2px;
  height: 14px;
  background-color: #eee;
}

.footer .footer__info .info__nav>a:last-child::before {
  display: none;
}

.footer .footer__info .info__nav>a:first-child {
  font-weight: 600;
  color: #666;
}

.footer .footer__info .info__address {
  margin-top: 23px;
}

.footer .footer__info .info__address span {
  color: #959595;
  font-size: 13px;
  line-height: 1.5em;
}

.footer .footer__info .info__address span.hasBorder {
  padding-right: 9px;
  margin-right: 7px;
  position: relative;
}

.footer .footer__info .info__address span.hasBorder::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  width: 2px;
  height: 10px;
  background-color: #eee;
}

.footer .footer__info .info__copy {
  margin-top: 15px;
  color: #b3b3b3;
  font-size: 11px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
}


.animated {
  opacity: 0;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.animated.on {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.td01 {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.td02 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.td03 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.td04 {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.td05 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.td06 {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.td07 {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}

.td08 {
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.td09 {
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
}

.td10 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/* 공통 */
.show-default {
  display: block !important;
}

.hide-default {
  display: none !important;
}

@media all and (max-width: 1800px) {
  .header .header__inner {
    width: auto;
    margin-left: 3.90625%;
    margin-right: 3.90625%;
  }
}

@media all and (max-width: 1440px) {
  .header .header__nav>a {
    width: 145px;
  }

  .header .header__gsnb .gsnb_nav>li {
    width: 145px;
  }
}

@media all and (max-width: 1200px) {
  .show-1200 {
    display: block !important;
  }

  .hide-1200 {
    display: none !important;
  }

  .inner {
    width: auto;
    margin-left: 3.90625%;
    margin-right: 3.90625%;
  }

  .header {
    min-width: auto;
  }

  .header .header__inner {
    padding: 25px 0;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .header .header__nav {
    display: none;
  }

  .header_btn {
    width: 30px;
    cursor: pointer;
  }

  .header_btn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
  }

  .header_btn span+span {
    margin-top: 6px;
  }

  .header_btn.active span:nth-child(1) {
    -webkit-animation: ease .7s top forwards;
    animation: ease .7s top forwards;
  }

  .header_btn.not-active span:nth-child(1) {
    -webkit-animation: ease .7s top-2 forwards;
    animation: ease .7s top-2 forwards;
  }

  .header_btn.active span:nth-child(2) {
    -webkit-animation: ease .7s scaled forwards;
    animation: ease .7s scaled forwards;
  }

  .header_btn.not-active span:nth-child(2) {
    -webkit-animation: ease .7s scaled-2 forwards;
    animation: ease .7s scaled-2 forwards;
  }

  .header_btn.active span:nth-child(3) {
    -webkit-animation: ease .7s bottom forwards;
    animation: ease .7s bottom forwards;
  }

  .header_btn.not-active span:nth-child(3) {
    -webkit-animation: ease .7s bottom-2 forwards;
    animation: ease .7s bottom-2 forwards;
  }

  @-webkit-keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    50% {
      top: 11px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      top: 11px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  @keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    50% {
      top: 11px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      top: 11px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  @-webkit-keyframes top-2 {
    0% {
      top: 11px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    50% {
      top: 11px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @keyframes top-2 {
    0% {
      top: 11px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    50% {
      top: 11px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    50% {
      bottom: 5px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      bottom: 5px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    50% {
      bottom: 5px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      bottom: 5px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }

  @-webkit-keyframes bottom-2 {
    0% {
      bottom: 5px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    50% {
      bottom: 5px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 5px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    50% {
      bottom: 5px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  @-webkit-keyframes scaled {
    50% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }

  @keyframes scaled {
    50% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }

  @-webkit-keyframes scaled-2 {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    50% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes scaled-2 {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    50% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .header .header__link{
    margin-left: auto;
    margin-right: 25px;
    z-index: 9999;
  }
  .side__menu {
    width: 100%;
    position: fixed;
    top: 86px;
    right: 0;
    height: calc(100vh - 86px);
    overflow-y: hidden;
    background-color: #fff;
    z-index: 1001;
    display: none;
    opacity: 0;
    border-top: 1px solid #ddd;
  }

  .side__menu .side__top {
    padding: 15px 0;
    background-color: #0154a6;
  }

  .side__menu .side__top>.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .side__menu .side__top .top__lang {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 10px 3px 10px;
    display: inline-block;
  }

  .side__menu .side__top .top__lang>a {
    color: #fff;
    font-size: 14px;
  }

  .side__menu .side__top .top__lang>a:first-child {
    margin-right: 7px;
    padding-right: 12px;
    position: relative;
  }

  .side__menu .side__top .top__lang>a:first-child::before {
    content: "";
    width: 1px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
  }

  .side__menu .menu__wrap {
    padding: 20px 3.90625%;
    height: calc(100vh - 58px);
    overflow: hidden;
  }

  .side__menu .menu__wrap .menu__list .menu__depth1 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    cursor: pointer;
  }

  .side__menu .menu__wrap .menu__list .menu__depth1::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(/image/common/side_arrow01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 24px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
  }

  .side__menu .menu__wrap .menu__list .menu__depth1.active::before {
    background-image: url(/image/common/side_arrow02.png);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .side__menu .menu__wrap .menu__list .menu__depth2 {
    padding-top: 0;
    padding-bottom: 20px;
    display: none;
    font-size: 18px;
    margin-top: 3px;
  }

  .side__menu .menu__wrap .menu__list .menu__depth2>a {
    display: block;
    color: #888;
    font-size: 18px;
    margin-bottom: 17px;
  }

  .side__menu .menu__wrap .menu__list .menu__depth2>a:last-child {
    margin-bottom: 0;
  }
}

  
@media all and (max-width: 1024px) {
  .show-1024 {
    display: block !important;
  }

  .hide-1024 {
    display: none !important;
  }

  .footer .footer__family .family__sns a{opacity: 1;}
}

@media all and (max-width: 900px) {
  .footer>.inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .footer>.inner>div {
    width: 100%;
  }
  .footer>.inner .footer__family {
    margin-top: 45px;
    flex-direction: column;
    width: 100%;
  }

  .footer .footer__family .family__sns{
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 768px) {
  .show-768 {
    display: block !important;
  }

  .hide-768 {
    display: none !important;
  }

  .footer {
    padding: 40px 3.90625%;
  }
}

@media all and (max-width: 640px) {
  .show-640 {
    display: block !important;
  }

  .hide-640 {
    display: none !important;
  }

  .header .header__lang{
    margin-right: 15px;
  }

  .header .header__lang>p{
    font-size: 16px;
    padding-right: 15px;
    background-size: 9px;
  }

  .header.open .header__logo,
  .header.active .header__logo {
    background-image: url(/image/common/logo_active_m.png);
  }

  .header .header__logo {
    width: 109px;
    height: 20px;
    background-image: url(/image/common/logo_m.png);
  }

  .header .header__inner {
    padding: 20px 0;
  }

  .header_btn {
    width: 26px;
  }

  .side__menu {
    top: 60px;
    height: calc(100vh - 60px);
  }

  .footer {
    padding: 60px 3.90625% 100px 3.90625%;
  }

  .footer .footer__info .info__nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer .footer__info .info__nav>a {
    font-size: 13px;
    padding-right: 0;
    margin-right: 0px;
  }

  .footer .footer__info .info__nav>a::before {
    display: none;
  }

  .footer .footer__info .info__address br {
    display: none;
  }

  .footer .footer__info .info__address span.hasBorder::before {
    display: none;
  }

  .footer .footer__info .info__address span {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
  }

  .footer>.inner .footer__family {
    margin-top: 30px;
  }


@media all and (max-width: 568px) {
  .show-568 {
    display: block !important;
  }

  .hide-568 {
    display: none !important;
  }
}

@media all and (max-width: 425px) {
  .show-425 {
    display: block !important;
  }

  .hide-425 {
    display: none !important;
  }
}

@media all and (max-width: 375px) {
  .show-375 {
    display: block !important;
  }

  .hide-375 {
    display: none !important;
  }
}

@media all and (max-width: 320px) {
  .show-320 {
    display: block !important;
  }

  .hide-320 {
    display: none !important;
  }
}